@inherits RazorTemplates.Core.TemplateBase<TheDrillBookCloud.classes.Email.Models.CoachSignupAssociationTemplateModel>
@using System.Web
@using System.Web.Mvc;
@using TheDrillBookCloud.classes
@using TheDrillBookCloud.classes.Email.Templates.Helpers
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to TheDrillBook.com</title>
</head>
<body style="font-size: 14px; margin: 0px; background: #ffffff; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333; padding: 0px;">
    <table cellspacing="0" border="0" cellpadding="10" width="100%">
        <tr>
            <td align="center" valign="top" style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" bgcolor="#FFFFFF">
                <table cellspacing="0" border="0" cellpadding="0" width="620">
                    <tr>
                        <td align="left" valign="top" style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" bgcolor="#da2626">
                            <table cellspacing="20" border="0" cellpadding="0" width="620">
                                <tr>
                                    <td align="left" valign="bottom" style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <font color="#FFFFFF" size="4">TheDrillBook.Com </font>
                                    </td>
                                    <td align="right" valign="bottom" style="width: 200px;">
                                        <font color="#FFFFFF" size="4">@DateTime.Now</font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-size: 14px; border-bottom: 1px solid #86919d; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; border-right: 1px solid #86919d; color: #333; border-left: 1px solid #86919d;" bgcolor="#FFFFFF">
                            <table cellspacing="0" border="0" cellpadding="0" width="618">
                                <tr>
                                    <td bgcolor="#edeff0" style="font-size: 14px; border-bottom: 1px solid #d7d8d9; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <table cellspacing="0" border="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                                    <table cellspacing="0" border="0" cellpadding="20" width="100%">
                                                        <tr>
                                                            <td>
                                                                <strong>Hello, @Model.CoachName</strong><br>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 14px; border-bottom: 1px solid #d7d8d9; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <table cellspacing="20" border="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td align="left" valign="top" style="font-size: 14px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" colspan="2">Welcome to TheDrillBook.Com<br>
                                                    <br>
                                                    It is coaches like yourself that are enhancing, improving and developing this great game of hockey!!!  Thank you for putting in the time and effort to create an incredible experience for the players.<br>
                                                    <br>
                                                    Hockey is evolving and changing each and every year. We believe with new ideas, approaches and innovations we can continue to enhance and grow the game of hockey for all to enjoy.<br>
                                                    <br>
                                                    Use the following code to allow coaches within your organization to register and use the system.<br>
                                                    <br>
                                                    Code: @Model.AssociationCode<br>
                                                    <br>
                                                    **Note: The coach you created during the signup process does not count towards your use of licenses, it was used simply to verify details for payment and will not be activated.<br>
                                                    <br>
                                                    Best of luck,
                                                    <br>
                                                    <br>
                                                    <strong>- The DrillBook Team </strong>
                                                    <br>
                                                    <br>
                                                    Don't forget to install the application on your iPhone or Android device<br>
                                                    <br>
                                                    <a href="https://itunes.apple.com/ca/app/thedrillbook/id587026109?mt=8&uo=4" target="itunes_store">
                                                        <img alt="Get it on the Apple Store" src="https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png" /></a>
                                                    <a href="https://play.google.com/store/apps/details?id=com.parallax.thedrillbook" target="_blank">
                                                        <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" /></a><br>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="20" bgcolor="#edeff0">
                                            <tr>
                                                <td>
                                                    <a href="@ClsGlobalscs.WebsiteURL">
                                                        <img alt="logo" src="@ClsGlobalscs.WebsiteURL/img/tdb_logo.png" style="float:right;"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
