@inherits RazorTemplates.Core.TemplateBase<TheDrillBookCloud.Lib.Email.Models.TeamFanUserNameEmailTemplateModel>
@using System.Web
@using System.Web.Mvc;
@using TheDrillBookCloud.Lib
@using TheDrillBookCloud.Lib.Email.Templates.Helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>theDrillBook.com - Team Fan UserName Reminder</title>
</head>
<body style="font-size: 11px; margin: 0px; background: #ffffff; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333; padding: 0px;">
    <table cellspacing="0" border="0" cellpadding="10" width="100%">
        <tr>
            <td align="center" valign="top" style="font-size: 11px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" bgcolor="#FFFFFF">

                <table cellspacing="0" border="0" cellpadding="0" width="620">
                    <tr>
                        <td align="left" valign="top" style="font-size: 11px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" bgcolor="#da2626">
                            <table cellspacing="20" border="0" cellpadding="0" width="620">
                                <tr>
                                    <td align="left" valign="bottom" style="font-size: 11px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <font color="#FFFFFF" size="4">TheDrillBook.Com</font>
                                    </td>
                                    <td align="right" valign="bottom" style="width: 200px;">
                                        <font color="#FFFFFF" size="4">@DateTime.Now</font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-size: 11px; border-bottom: 1px solid #86919d; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; border-right: 1px solid #86919d; color: #333; border-left: 1px solid #86919d;" bgcolor="#FFFFFF">
                            <table cellspacing="0" border="0" cellpadding="0" width="618">
                                <tr>
                                    <td bgcolor="#edeff0" style="font-size: 11px; border-bottom: 1px solid #d7d8d9; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <table cellspacing="0" border="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td style="font-size: 11px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                                    <table cellspacing="0" border="0" cellpadding="20" width="100%">
                                                        <tr>
                                                            <td>
                                                                <strong>Hello, @Model.FullName<br>
                                                                    You have a message from @Model.SenderName.<br />
                                                                </strong>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 11px; border-bottom: 1px solid #d7d8d9; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;">
                                        <table cellspacing="20" border="0" cellpadding="0" width="100%">
                                            <tr>
                                                <td align="left" valign="top" style="font-size: 11px; font-family: Lucida Grande, Lucida Sans Unicode, Arial, Verdana, sans-serif; color: #333;" colspan="2">
                                                    <strong>Message: </strong>@Model.Message
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <br>
                                                    <strong>- The DrillBook Team </strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellpadding="0" cellspacing="20" bgcolor="#edeff0">
                                            <tr>
                                                <td>
                                                    <a href="@ClsGlobalscs.WebsiteURL">
                                                        <img alt="logo" src="@ClsGlobalscs.WebsiteURL/img/tdb_logo.png" style="float:right;"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>

